* {
    box-sizing: border-box;
    background-color: #FF0000;
    color: #8D0000;
    margin: 0%;
    padding: 0%;
  }

  .wrapper {
    height: 100vh;
    width: 100vw;
    position: fixed;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, [col-start] 4fr);
    grid-template-rows: repeat(16, [row-start] 4fr);
    gap: .8rem;
    padding: .6rem;
    
  }
  
  .wrapper > * {
    padding: 5px;
  }

  .large-text{
    font: 1.8em Helvetica, arial, sans-serif;
  }
  .small-text{
    font: 1em Helvetica, arial, sans-serif;
  }
  a{
    text-decoration: none;
  }
  a:hover{
    text-decoration: underline dashed ;
    text-underline-offset: .15em;
  }
  .header-1{
    grid-column: col-start 1 / span 1;
    grid-row: 1 / 1;
  }
  .header-2{
    grid-column: col-start 2 / span 1;
    grid-row: 1 / 1;
  }
  .header-3{
    grid-column: col-start 6 / span 1;
    grid-row: 1 / 1;
    text-align: right;
  }
    /* Preview */
    .content-header-1{
        grid-column: col-start 1 / span 1;
        grid-row: 2 ;
    }
            .img-1{
            grid-column: col-start 1 / span 1;
            grid-row: 3 / 6;
            background-color: #8D0000;
            }
            .img-2{
                grid-column: col-start 1 / span 1;
                grid-row: 6/ 11;
                background-color: #8D0000;
            }
            .img-3{
                grid-column: col-start 1 / span 1;
                grid-row: 11 / 15;
                background-color: #8D0000;
                }

/* Movement */
  .content-header-2{
    grid-column: col-start 3 / span 2;
    grid-row: 2 ;
  }
  .content-header-3{
    grid-column: col-start 5 / span 2;
    grid-row: 2 ;
    text-align: right;
  }

  .content-footer-1{
    grid-column: col-start 1 / span 1;
    grid-row: 15 ;
    text-align-last: justify;
    vertical-align: bottom;
  }
  .content-footer-2{
    grid-column: col-start 1 / span 1;
    grid-row: 16 ;
    text-align-last: justify;
    vertical-align: bottom;
  }
  .content-footer-3{
    grid-column: col-start 3 / span 2;
    grid-row: 16 ;
  }
  .content-footer-4{
    grid-column: col-start 5 / span 2;
    grid-row: 16 ;
    text-align: right;
  }

 
  
  @media (max-width: 1024px) {
    .wrapper {
        height: 100vh;
        width: 100vw;
        position: fixed;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(6, [col-start] 4fr);
        grid-template-rows: repeat(12, [row-start] 4fr);
        gap: .7rem;
        padding: .4rem;
  }

  .header-2{
    grid-column: col-start 2 / span 2;
    grid-row: 1 / 1;
  }
  .content-footer-3{
    grid-column: col-start 3 / span 3;
    grid-row: 16 ;
  }
}
  @media (min-width: 2000px) {
    .wrapper {
        height: 100vh;
        width: 100vw;
        position: fixed;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(6, [col-start] 4fr);
        grid-template-rows: repeat(12, [row-start] 4fr);
        gap: 20px;
        padding: .6em;
    }

        .large-text{
            font: 3em Helvetica, arial, sans-serif;
          }
        .small-text{
            font: 1.7em Helvetica, arial, sans-serif;
          }
    
  
}
  
  /* @media (min-width: 700px) {
    .wrapper {
      grid-template-columns: 1fr 4fr 1fr;
      grid-template-areas:
        "header header  header"
        "nav    content sidebar"
        "nav    content ad"
        "footer footer  footer";
    }
    nav ul {
      flex-direction: column;
    }
  } */