* {
    box-sizing: border-box;
    background-color: #FF0000;
    color: #8D0000;
  }

  .wrapper {
    height: 100vh;
    width: 100vw;
    position: fixed;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, [col-start] 4fr);
    grid-template-rows: repeat(12, [row-start] 4fr);
    gap: 20px;
    padding-left: .5rem;
    padding-right: 1.5rem;
    padding-bottom: .5rem;
  }
  
  .wrapper > * {
    padding: 5px;
  }

  .large-text{
    font: 1.8em Helvetica, arial, sans-serif;
  }
  .small-text{
    font: 1em Helvetica, arial, sans-serif;
  }
  a{
    text-decoration: underline dashed ;
    text-underline-offset: .15em;
  }
  .header-1{
    grid-column: col-start 1 / span 1;
    grid-row: 1 / 1;
  }
  .header-2{
    grid-column: col-start 2 / span 1;
    grid-row: 1 / 1;
  }
  .content-header-1{
    grid-column: col-start 1 / span 1;
    grid-row: 2 ;
  }
  .content-header-2{
    grid-column: col-start 3 / span 2;
    grid-row: 2 ;
  }
  .content-header-3{
    grid-column: col-start 5 / span 2;
    grid-row: 2 ;
    text-align: right;
  }

  .content-footer-1{
    grid-column: col-start 1 / span 1;
    grid-row: 11 ;
    text-align-last: justify;
  }
  .content-footer-2{
    grid-column: col-start 1 / span 1;
    grid-row: 12 ;
    text-align-last: justify;
  }
  .content-footer-3{
    grid-column: col-start 3 / span 2;
    grid-row: 12 ;
  }
  .content-footer-4{
    grid-column: col-start 5 / span 2;
    grid-row: 12 ;
    text-align: right;
  }

 
  
  @media (max-width: 700px) {
    .wrapper {
        height: 100vh;
        width: 100vw;
        position: fixed;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, [col-start] 4fr);
        grid-template-rows: repeat(6, [row-start] 4fr);
        gap: 20px;
        padding-left: .5rem;
        padding-right: 1.5rem;
        padding-bottom: .5rem;
  }
}
  @media (min-width: 2000px) {
    .wrapper {
        height: 100vh;
        width: 100vw;
        position: fixed;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(6, [col-start] 4fr);
        grid-template-rows: repeat(12, [row-start] 4fr);
        gap: 20px;
        padding-left: .5rem;
        padding-right: 1.5rem;
        padding-bottom: 1rem;
    }

        .large-text{
            font: 3em Helvetica, arial, sans-serif;
          }
        .small-text{
            font: 1.7em Helvetica, arial, sans-serif;
          }
    
  
}
  
  /* @media (min-width: 700px) {
    .wrapper {
      grid-template-columns: 1fr 4fr 1fr;
      grid-template-areas:
        "header header  header"
        "nav    content sidebar"
        "nav    content ad"
        "footer footer  footer";
    }
    nav ul {
      flex-direction: column;
    }
  } */